[Unit]
Description=WoL Proxy Service
After=network.target

[Service]
ExecStart=/home/pi/wol-remote
Restart=never
User=pi
Environment=COOKIE_SECRET_KEY=your_secret_key
Environment=COOKIE_NAME=your_cookie_name
Environment=COOKIE_SECRET_VALUE=your_cookie_value
Environment=WOL_PORT=8098


[Install]
WantedBy=multi-user.target